.main-cont {
    display: flex;
    width: 10%0;
    height: 15vh;
    background-color: var(--back-color1);
}

.logo-cont {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.logo-image {
  width: 85px;
  height: 80px;
}

.title-cont {
    width: 80%;
    display: flex;
    flex-direction: row;
    font-size: larger;
    color: azure;
    justify-content:space-around;
    align-items: center; 
}